## Import files

In [1]:
import pandas as pd
import re

## Importing the txt file and split dates and messeges

In [2]:
f=open('WhatsApp Chat with EDIFICATION 4 (1).txt','r', encoding= 'utf-8')
data=f.read()
# print(data)

In [3]:
# pattern='\d{1,2}\/\d{1,2}\/\d{2,4},\s \d{1,2}:\d{2}\s-\s'
pattern = r'\d{1,2}/\d{1,2}/\d{2,4},\s\d{1,2}:\d{2}\s-\s'
message=re.split(pattern,data)[1:]
# print(messeges)

In [4]:
dates=re.findall(pattern,data)
# dates

## Creating pandas dataframe

In [5]:
df=pd.DataFrame({"user_message":message,"message_date":dates})
df["message_date"]=pd.to_datetime(df["message_date"], format='%m/%d/%y, %H:%M - ')
df.rename(columns={'message_date' : 'date'},inplace=True)
df.head()

                              user_message                date
0      You created group "EDIFICATION 4"\n 2021-07-02 19:26:00
1  ğŸ˜ˆ~Ken Kaneki~ğŸ˜ˆ: Itna sannata kaiko re\n 2022-08-28 19:36:00
2                Dipayan: Match dekho...\n 2022-08-28 19:44:00
3            ğŸ˜ˆ~Ken Kaneki~ğŸ˜ˆ: Phone dek6i\n 2022-08-28 19:52:00
4                      ğŸ˜ˆ~Ken Kaneki~ğŸ˜ˆ: ğŸ™‚\n 2022-08-28 19:52:00

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11333 entries, 0 to 11332
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_message  11333 non-null  object
 1   date          11333 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 177.2+ KB

In [7]:
# df["user_message"]=df["user_message"].astype('string') #own change

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11333 entries, 0 to 11332
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_message  11333 non-null  object
 1   date          11333 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 177.2+ KB

In [9]:
users=[]
messages=[]
for message in df['user_message']:
    entry=re.split('([\w\W]+?):\s',message)
    if entry[1:]:
        users.append(entry[1])
        messages.append(entry[2])
    else:
        users.append('group_notification')
        messages.append(entry[0])
df['users']=users
df['message']=messages
df.drop(columns=['user_message'],inplace=True)

<>:4: SyntaxWarning: invalid escape sequence '\w'
<>:4: SyntaxWarning: invalid escape sequence '\w'
C:\Users\indra\AppData\Local\Temp\ipykernel_13272\3234378266.py:4: SyntaxWarning: invalid escape sequence '\w'
  entry=re.split('([\w\W]+?):\s',message)

In [10]:
df

,date,users,message
0,2021-07-02 19:26:00,group_notification,"You created group ""EDIFICATION 4""\n"
1,2022-08-28 19:36:00,ğŸ˜ˆ~Ken Kaneki~ğŸ˜ˆ,Itna sannata kaiko re\n
2,2022-08-28 19:44:00,Dipayan,Match dekho...\n
3,2022-08-28 19:52:00,ğŸ˜ˆ~Ken Kaneki~ğŸ˜ˆ,Phone dek6i\n
4,2022-08-28 19:52:00,ğŸ˜ˆ~Ken Kaneki~ğŸ˜ˆ,ğŸ™‚\n
...,...,...,...
11328,2024-02-22 11:26:00,Tuhin Da Spoken,Khub ekta vlo na\n
11329,2024-02-22 11:37:00,Dam 2,Desert khawar por rutii valo lagbeo naa\n
11330,2024-02-22 11:37:00,Dam 2,ğŸ˜¶â€ğŸŒ«ğŸ˜¶â€ğŸŒ«\n
11331,2024-02-22 11:39:00,Avijit Sir,ğŸ˜\n
11332,2024-02-22 11:40:00,Dam 2,ğŸ«£ğŸ«£\n

In [11]:
df["year"]=df["date"].dt.year

In [12]:
df["month"]=df["date"].dt.month_name()

In [13]:
df["day"]=df["date"].dt.day

In [14]:
df["hour"]=df["date"].dt.hour

In [15]:
df["minute"]=df["date"].dt.minute

In [16]:
df.head()

,date,users,message,year,month,day,hour,minute
0,2021-07-02 19:26:00,group_notification,"You created group ""EDIFICATION 4""\n",2021,July,2,19,26
1,2022-08-28 19:36:00,ğŸ˜ˆ~Ken Kaneki~ğŸ˜ˆ,Itna sannata kaiko re\n,2022,August,28,19,36
2,2022-08-28 19:44:00,Dipayan,Match dekho...\n,2022,August,28,19,44
3,2022-08-28 19:52:00,ğŸ˜ˆ~Ken Kaneki~ğŸ˜ˆ,Phone dek6i\n,2022,August,28,19,52
4,2022-08-28 19:52:00,ğŸ˜ˆ~Ken Kaneki~ğŸ˜ˆ,ğŸ™‚\n,2022,August,28,19,52

In [17]:
df[df['users']=='Agradip'].shape

(45, 8)